<h2 mat-dialog-title>Add user</h2>
<mat-dialog-content>
    <div class="pt-8">
        <mat-form-field class="mr-16" appearance="outline">
            <mat-label>First Name</mat-label>
            <input [(ngModel)]="user.firstName" matInput placeholder="Placeholder">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input [(ngModel)]="user.lastName" matInput placeholder="Placeholder">
        </mat-form-field>
    </div>
    <div class="pt-8">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Birth Date</mat-label>
            <input [(ngModel)]="birthDate" matInput placeholder="MM/DD/YYYY" [matDatepicker]="datepicker">
            <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker>
                <mat-datepicker-actions>
                    <button mat-button matDatepickerCancel>Cancel</button>
                    <button mat-raised-button matDatepickerApply>Apply</button>
                </mat-datepicker-actions>
            </mat-datepicker>
        </mat-form-field>
    </div>
    <div class="pt-8">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Street + House No.</mat-label>
            <input [(ngModel)]="user.street" matInput placeholder="Placeholder">
        </mat-form-field>
    </div>
    <div class="pt-8">
        <mat-form-field class="mr-16" appearance="outline">
            <mat-label>Zip Code</mat-label>
            <input [(ngModel)]="user.zipCode" matInput placeholder="Placeholder">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <input [(ngModel)]="user.city" matInput placeholder="Placeholder">
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button>Cancel</button>
    <button mat-button cdkFocusInitial (click)="saveUser()">Save</button>
</mat-dialog-actions>