<mat-card appearance="outlined">
    <table class="user-table">
        <tbody>
            <tr>
                <th>Customer</th>
                <th>E-Mail</th>
                <th>Delivery Date</th>
            </tr>
            <tr>
                <td>Customer</td>
                <td>E-Mail</td>
                <td>Delivery Date</td>
            </tr>
            <tr>
                <td>Customer</td>
                <td>E-Mail</td>
                <td>Delivery Date</td>
            </tr>
        </tbody>
    </table>
</mat-card>

<button (click)="openDialog()" matTooltip="Add user" [matTooltipPosition]="position.value!" mat-fab
    class="add-user-btn">
    <mat-icon>add</mat-icon>
</button>